
#time{
    margin-top: 50px;
}
h2,h1{
    font-family: Arial, Helvetica, sans-serif;
    color: darkorchid;
}

.row
{
    display: flex;
    align-items: center;
    background-color: rgb(97, 201, 178);
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.realtime{
    margin-left: 45px;
}